.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 20px;
    overflow:hidden

  }
  
.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 60s linear infinite;
}

.content{
    display: flex;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 0.5vw;
    line-height: 16px;
    color: white;
}
.m-item{
    padding-left: 2vw;
}
  
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

@media screen and (max-width:1023px) {
    .content{
        font-size: 14px;
    }
    .m-item{
        padding-left: 40px;
    }
}
  