.img-background{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh; 
    z-index:-50;
}


.m-container{
    position: absolute;
    right: 0;
    bottom: 10px;
}