.container {
  display: flex;
  flex-wrap:wrap;
  box-sizing: border-box;
  margin-left: 20.7%;
  margin-right: 20.7%;
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 0.5vw;

}

  .k-container{
    /* margin-top: 82vh; */
    position: absolute;
    top: 105%;
  }

  .quote{
    margin: auto;
    color: rgb(0, 0, 0);
    font-size: 0.6vw;
    padding: 3vw !important;

  }
  
  .flex-item {
    width: 50%;
    flex-grow: 0;
    padding: 1vw;
    box-sizing: border-box;
    justify-content: space-between;
    overflow: hidden;
  }

  .flex-banner{
    width: 100%;
    flex-grow: 0;
    box-sizing: border-box;
    padding: 1vw;
    justify-content: space-between;
    overflow: hidden;
  }

  .flex-center{
    width: 60%;
    flex-grow: 0;
    box-sizing: border-box;
    padding: 1vw;
    justify-content: space-between;
    overflow: hidden;

  }

  .flex-margin {
    width: 20%;
    flex-grow: 0;
    box-sizing: border-box;
    padding: 1vw;
    justify-content: space-between;
    overflow: hidden;
  }

  .heading{
    font-family: 'Inter', sans-serif;    
    font-weight: 400;
    font-size: 0.8vw;

    
  }

  .p-left{
    padding-left: 15%;
  }
  .p-right{
    padding-right: 15%;
  }



  @media screen and (max-width:480px) {
    .container{
      margin-left: 0%;
      margin-right: 0%;
      font-size: 12px;
    }

    .heading{
      font-size: 14px;
    }

    /* .k-container{
      margin-top: 92vh;
    } */

    .flex-banner{
      padding: 10px;
    }

    .flex-item{
      width: 100%;
      padding: 10px;
    }

    .flex-center{
      width: 100%;
      padding: 10px;
    }

    .flex-margin{
      display: none;
      padding: 10px;
    }

  }

  @media screen and (max-width:768px) and (min-width: 480px) {

    .container{
      margin-left: 15%;
      margin-right: 15%;
    }

    .k-container{
      font-size: 12px;
    }

    .heading{
      font-size: 14px;
    }
  }
/* 
  @media screen and (max-width:1024px) {
    .k-container{
      margin-top: 94vh;
    }
  }

  @media screen and (max-width:1440px) {
    .k-container{
      margin-top: 90vh;
    }
  } */


  /* @media screen and (min-width: 160em) {

        .k-container {
            margin-top: 950px;
        }
    }  */