.container {
  display:flex;
  flex-wrap:wrap;
  box-sizing: border-box;
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
}

  .k-container{
    /* margin-top: 82vh; */
    position: absolute;
    top: 105%;
  }

  .quote{
    text-align: center;
    margin: auto;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
  }
  
  .flex-item {
    width: 50%;
    flex-grow: 0;
    padding: 0.3vw;
    box-sizing: border-box;
    justify-content: space-between;
    overflow: hidden;

  }

  .flex-banner{
    width: 100%;
    flex-grow: 0;
    box-sizing: border-box;
    padding: 0.3vw;
    justify-content: space-between;
    overflow: hidden;
  }

  .flex-center{
    width: 60%;
    flex-grow: 0;
    box-sizing: border-box;
    padding: 0.3vw;
    overflow: hidden;

  }

  .flex-margin {
    width: 20%;
    flex-grow: 0;
    box-sizing: border-box;
    padding: 0.3vw;
    justify-content: space-between;
    overflow: hidden;
  }

  .heading{
    font-family: 'Inter', sans-serif;    
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: -1px;
  }

  .p-left{
    padding-left: 15%;
  }
  .p-right{
    padding-right: 15%;
  }

  .p-bottom{
    padding-bottom: 5%;
  }
  
  .credits{
    color: rgb(153, 153, 153);
  }



  @media screen and (max-width:1023px) {

    .container{
      margin-left: 0%;
      margin-right: 0%;
      font-size: 14px;
    }

    .heading{
      font-size: 18px;
    }

    .flex-banner{
      padding-left: 10px;
      padding-right: 10px;


    }

    .flex-item{
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;



    }

    .flex-center{
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;


    }

    .flex-margin{
      display: none;
    }

    .quote{
      font-size: 14px;
      padding-top: 50px;
      padding-bottom: 50px;
    }

  }

