.by{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;

}

.by-title{
    font-family: 'Inter', sans-serif;  
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: -1px;
    line-height: 1px;

   
}

.whiteText{
    color: white;
}

.blackText{
    color: black;
}
/* .by-dropdown{
    display: none;
} */

@media screen and (max-width:1023px) {
    .by-title{
        font-size: 16px;
        line-height: 120%;
        font-weight: 500;
        letter-spacing: 0px;
        text-align: left;
        width: 66%;
        padding-left: 20px;
        
    }
    .by{   
        justify-content: space-between;
    }
}

/* @media screen and (max-width:1439px) and (min-width: 590px){
    .by-title{
        font-size: 19px;
        letter-spacing: 0px;
        
    }
} */