  .h{
    display: flex;
    margin-left: 22%;
    margin-right: 22%;
  }

  a{
    text-decoration: none;
  }

  .h-leftside{
    position: relative;
    flex: 2;
    padding-right: 10px;
    overflow: hidden;

  }

  .h-rightside{
      flex: 1;
      text-align: right;
  }

  .h-beyond{
    font-family: 'Inter', sans-serif;    
    font-weight: 600;
    font-size:  4.7vw;
    letter-spacing: -0.3vw;
    color: black;
    line-height:  1px;
  }

  .h-icon{
    position: absolute;
    top:0px;
    right: 0px;
    padding-top: 25px;
    
  
  }

  .whiteText{
    color: white;
  }

  .blackText{
      color: black;
    
  }

  #navDesc{
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 0.55vw;
    line-height: 0.7vw;
    overflow:hidden;
    padding-top: 1vw;
    transition: 0.3s;
    text-align: left;
    white-space: pre-wrap;
  }

  


  @media screen and (max-width:590px) {
    .h{
      display: none;
    }
    ul{
      display: none;
    }
  }

  @media screen and (max-width:1023px) and (min-width: 590px) {
    .h{
      margin-left: 16.5%;
      margin-right: 16.5%;
    }

    .h-beyond{
      font-size:  8.4vw;
      letter-spacing: -0.6vw;
    }

    #navDesc{
      font-size: 1vw;
      line-height: 1vw;

    }

  }