.ih{
   position: relative;
    display: flex;
    margin-left: 22%;
    margin-right: 22%;
    height: 6vw;
    overflow:hidden;
  }

  .ih-leftside{
      position: relative;
      flex: 2;
      /* text-align: left; */
      /* padding-right: 10px; */
      color: white;
      text-align: right;
      

  }

  .ih-rightside{
      flex: 1;
      text-align: right;
  }

  .ih-beyond{
      font-family: 'Inter', sans-serif;    
      font-weight: 600;
      font-size:  4.7vw;
      letter-spacing: -0.3vw;
      color: white;
      line-height:  1px;
  }


  #kh-icon{
    position: absolute;
    /* padding-top: 1.55vh; */
    transition: 0.3s;
    filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
    width: 56%;
    top: 0.9vw;
    right: -0.8vw;
    /* transition-delay: 0.3s; */

  }


  #ts-icon{
    position: absolute;
    /* padding-top: 1.55vh; */
    transition: 0.3s;
    filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
    width: 35%;
    top: 1.47vw;
    right: -0.7vw;
    /* transition-delay: 0.3s; */

  }

  #kam-icon{
    position: absolute;
    /* padding-top: 1.55vh; */
    transition: 0.3s;
    filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
    width: 30%;
    top: 1.2vw;
    right: -0.7vw;
  }

  #sev-icon{
    position: absolute;
    /* padding-top: 1.55vh; */
    transition: 0.3s;
    filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
    width: 45%;
    top: 1.7vw;
    right: -0.4vw;
  }

  #rdr-icon{
    position: absolute;
    /* padding-top: 1.55vh; */
    transition: 0.3s;
    filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
    width: 22%;
    top: 1.4vw;
    right: -0.2vw;
  }




  /* #navDesc{
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 0.5vw;
    line-height: 0.6vw;
    overflow:hidden;
    padding-top: 1vw;
    transition: 0.3s;
    transition-delay: 0.3s;
    text-align: left;
    white-space: pre-wrap;

  } */

  .ih-mobile{
    display: none;
  }
  @media screen and (max-width:590px) {
    .ih-leftside{
      display: none;
    }
    .ih-rightside{
      display: none;
    }
    .ih{
      margin: 10px;
      height: 50vh;
    }

    .ih-mobile{
      text-align: right;
      display: inline;
    }



    #kh-icon-mobile{
      display: inline;
      filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
      width: 100%;
      margin-bottom: 20px;
    }

    #ts-icon-mobile{
      display: inline;
      filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
      width: 100%;
      margin-bottom: 20px;
    }

    #kam-icon-mobile{
      display: inline;
      filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
      width: 100%;
      margin-bottom: 20px;
    }

    #sev-icon-mobile{
      display: inline;
      filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
      width: 100%;
      margin-bottom: 20px;
    }

    #rdr-icon-mobile{
      display: inline;
      filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
      width: 100%;
      margin-bottom: 20px;
    }

    .ih-beyond-mobile{
      text-align: right;
      display: inline;
      font-family: 'Inter', sans-serif;    
      font-weight: 600;
      font-size:  50px;
      letter-spacing: -3px;
      color: white;
      line-height:  1px;    

    }
  }

  @media screen and (max-width:1023px) and (min-width: 590px) {
    .ih{
      margin-left: 16.5%;
      margin-right: 16.5%;
      height: 60vh;
    }


    .ih-beyond{
      font-size:  8.4vw;
      letter-spacing: -0.4vw;

    }

    #kh-icon{
      width: 100%;
      top: 2.4vw;
      right: -0.3vw;
  
    }

    #ts-icon{
      width: 75%;
      top: 2.3vw;
      right: -0.2vw;
    }
    #kam-icon{
      width: 59%;
      top: 2.3vw;
      right: -0.2vw;
    }

    #sev-icon{
      width: 90%;
      top: 3.1vw;
      right: 0.5vw;
    }
    #rdr-icon{
      width: 45%;
      top: 2.1vw;
      right: 0.5vw;
    }
  }