.ih{
   position: relative;
    display: flex;
    margin-left: 22%;
    margin-right: 22%;
    height: 6vw;
    overflow:hidden;
  }

  .ih-leftside{
      position: relative;
      flex: 2;
      color: white;
      text-align: right;
      

  }

  .ih-rightside{
      flex: 1;
      text-align: right;
  }


  .ih-beyond-wordmark{
    filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
    padding-top: 6.9%;
    width: 100%;
  }


  #kh-icon{
    position: absolute;
    /* padding-top: 1.55vh; */
    transition: 0.3s;
    filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
    width: 65%;
    top: 0.3vw;
    right: -0.2vw;
    /* transition-delay: 0.3s; */

  }


  #ts-icon{
    position: absolute;
    /* padding-top: 1.55vh; */
    transition: 0.3s;
    filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
    width: 35%;
    top: 1.47vw;
    right: 0vw;
    /* transition-delay: 0.3s; */

  }

  #kam-icon{
    position: absolute;
    /* padding-top: 1.55vh; */
    transition: 0.3s;
    filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
    width: 27%;
    top: 1.2vw;
    right: 0.2vw;
  }

  #sev-icon{
    position: absolute;
    /* padding-top: 1.55vh; */
    transition: 0.3s;
    filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
    width: 50%;
    top: 1.4vw;
    right: 0.3vw;
  }

  #rdr-icon{
    position: absolute;
    /* padding-top: 1.55vh; */
    transition: 0.3s;
    filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
    width: 22%;
    top: 1.4vw;
    right: 0.2vw;
  }

  #loss-icon{
    position: absolute;
    transition: 0.3s;
    filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
    width: 16.5%;
    top: 1.4vw;
    right: 0.5vw;
  }

  #bridges-icon{
    position: absolute;
    transition: 0.3s;
    filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
    width: 26.5%;
    top: 1.4vw;
    right: 0.1vw;
  }




  /* #navDesc{
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 0.5vw;
    line-height: 0.6vw;
    overflow:hidden;
    padding-top: 1vw;
    transition: 0.3s;
    transition-delay: 0.3s;
    text-align: left;
    white-space: pre-wrap;

  } */

  .ih-mobile{
    display: none;
  }
  @media screen and (max-width:1023px) {
    .ih-leftside{
      display: none;
    }
    .ih-rightside{
      display: none;
    }
    .ih{
      margin: 20px;
      height: 100vh;
    }

    .ih-mobile{
      text-align: right;
      display: inline;
      width: 100%;
    }

    #kh-icon-mobile{
      display: inline;
      filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
      width: 100%;

    }

    #ts-icon-mobile{
      display: inline;
      filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
      width: 100%;
      margin-bottom: 20px;
    }

    #kam-icon-mobile{
      display: inline;
      filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
      width: 100%;
      margin-bottom: 20px;
    }

    #sev-icon-mobile{
      display: inline;
      filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
      width: 100%;
      margin-bottom: 20px;
    }

    #rdr-icon-mobile{
      display: inline;
      filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
      width: 100%;
      margin-bottom: 20px;
    }

    #loss-icon-mobile{
      display: inline;
      filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
      width: 100%;
      margin-bottom: 20px;
    }

    #bridges-icon-mobile{
      display: inline;
      filter: invert(100%) sepia(4%) saturate(7500%) hue-rotate(185deg) brightness(124%) contrast(117%);
      width: 100%;
      margin-bottom: 20px;
    }



    .ih-beyond-wordmark{
      text-align: right;
      display: inline;
      width: 50%;
      padding-top: 0px;
    }
  }