  .navbar{
    margin: auto;
    text-align: center;
  }

  .nav-wrapper{
    display: inline;
  }

  @media screen and (max-width:1023px) {
    .nav-wrapper{
      display: none;
    }
  }

  /* @media screen and (max-width:1023px) and (min-width: 590px) {
    .nav-wrapper{
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      
    }
  } */

