.footer-container{
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    overflow: hidden;
}

.footer-logo{
    filter: invert(89%) sepia(0%) saturate(4500%) hue-rotate(133deg) brightness(106%) contrast(94%);

}
.footer-text{
    text-align: right;
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 0.6vw;
    line-height: 0.6vw;
    top: 1vw;
    right: 0px;
}

@media screen and (max-width:480px){
    .footer-text{
        font-size: 6px;

    }
}

/* @media screen and (max-width:480px){
    .footer-container{
        display: none;
    }
} */