.footer-container{
    position: relative;
    overflow: hidden;
    margin-bottom: 10%;
    margin-top: 10%;
}



.grid-container{
    position: absolute;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    bottom: 20%;
    left: 5%;
}

.footer-logo{
    /* z-index: -1; */
    /* position: absolute; */
    filter: invert(89%) sepia(0%) saturate(4500%) hue-rotate(133deg) brightness(106%) contrast(94%);
}

.grid-item{
    font-size: 0.7rem;
    width: 96%;
}

.footer-text{
    text-align: right;
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 0.6vw;
    line-height: 0.6vw;
    top: 1vw;
    right: 0px;
}

@media screen and (max-width:1439px){
    .grid-item{
        font-size: 8px;

    }
}

/* @media screen and (max-width:480px){
    .footer-container{
        display: none;
    }
} */